numpy
hydra-core
hydra-colorlog
matplotlib
opencv-python
omegaconf
plotly
ftfy
torch
torchsde
torchdiffeq
pytorch-lightning
gitpython
scipy
sentence-transformers
torchsde
einops
moviepy
tqdm
termcolor
wandb
einops_exts
timm